{% extends "base_internal.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Stream Selection Test</h1>
    <!--<a href="#" class="d-none d-sm-inline-block btn btn-danger shadow-sm"><i
            class="fas fa-file-alt fa-sm text-white-50"></i>  Edit Profile</a>-->
    </div>
<!-- Content Row -->
    <hr>
    </br>
    <div class="row">
    <!-- profile -->
        <div class="col-md-12 mb-4">
            <div class="container rounded bg-white mt-3 mb-3">
                <div class="row">
                   <form method="POST" enctype="multipart/form-data">
                       {% for message in messages  %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" style="color:red" role="alert">
                                <strong>Message : </strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                       {% endfor %}
                       {% csrf_token %}
                       <div class="col-md-12 ">
                            <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4 >Section 5 - Your Hobbies and Family Background</h4>
                                </div>
                                <hr>
                                <div class="mt-3 text-lg text-primary required"> Q.1 Any extra curricular activity </div>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="curricular" value="sports" required>
                                        <label class="form-check-label">Sports</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="curricular" value="singing">
                                        <label class="form-check-label">Singing/Dancing</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="curricular" value="media">
                                        <label class="form-check-label">Media/Journalism</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="curricular" value="creative">
                                        <label class="form-check-label">Special Creativity (Painting s, Poetry, sketching, etc)</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="curricular" value="na">
                                        <label class="form-check-label">Not Applicable</label>
                                    </div>
                                </div>
                                <div class="mt-3 text-lg text-primary required"> Q.2 Level of performance in above activity</div>
                                <div class="na box">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="performance_level" value="zonal" required>
                                        <label class="form-check-label">Zonal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="performance_level" value="district">
                                        <label class="form-check-label" >District</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="performance_level" value="state">
                                        <label class="form-check-label" >State</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="performance_level" value="national">
                                        <label class="form-check-label" >National</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="performance_level" value="international">
                                        <label class="form-check-label">International</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="performance_level" value="na">
                                        <label class="form-check-label">Not Applicable</label>
                                    </div>
                                </div>
                                <div class="mt-3 text-lg text-primary required"> Q.3 Father Qualification </div>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"  type="radio" name="father_qual" value="doctarate" required>
                                        <label class="form-check-label">Doctarate</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="father_qual" value="post_graduate">
                                        <label class="form-check-label">Post-Graduate</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"  type="radio" name="father_qual" value="graduate">
                                        <label class="form-check-label">Graduate</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="father_qual" value="12th_pass">
                                        <label class="form-check-label">12th Pass</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="father_qual" value="matic_pass">
                                        <label class="form-check-label">Matric Pass</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="father_qual" value="others">
                                        <label class="form-check-label">Other</label>
                                    </div>
                                </div>
                                <div class="mt-3 text-lg text-primary required"> Q.4 Mother Qualification </div>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"  type="radio" name="mother_qual" value="doctarate" required>
                                        <label class="form-check-label">Doctarate</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mother_qual" value="post_graduate">
                                        <label class="form-check-label">Post-Graduate</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"  type="radio" name="mother_qual" value="graduate">
                                        <label class="form-check-label">Graduate</label>
                                    </div>
                                     <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mother_qual" value="12th_pass">
                                        <label class="form-check-label">12th Pass</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mother_qual" value="matic_pass">
                                        <label class="form-check-label">Matic Pass</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mother_qual" value="others">
                                        <label class="form-check-label">Other</label>
                                    </div>
                                </div>
                                <div class="mt-3 text-lg text-primary required"> Q.5 Sibling Qualification </div>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"  type="radio" name="sibling_qual" value="doctarate" required>
                                        <label class="form-check-label">Doctarate</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sibling_qual" value="post_graduate">
                                        <label class="form-check-label">Post-Graduate</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"  type="radio" name="sibling_qual" value="graduate">
                                        <label class="form-check-label">Graduate</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sibling_qual" value="12th_pass">
                                        <label class="form-check-label">12th Pass</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sibling_qual" value="matic_pass">
                                        <label class="form-check-label">Matric Pass</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sibling_qual" value="others">
                                        <label class="form-check-label">Other</label>
                                    </div>
                                </div>
                                <div class="mt-3 text-lg text-primary required"> Q.6 Father Job Profile </div>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"  type="radio" name="father_job" value="government_job" required>
                                        <label class="form-check-label">Government Job</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="father_job" value="private_job">
                                        <label class="form-check-label">Private job</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"  type="radio" name="father_job" value="business">
                                        <label class="form-check-label">Business</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="father_job" value="engineer">
                                        <label class="form-check-label">Engineer</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="father_job" value="doctor">
                                        <label class="form-check-label">Doctor</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="father_job" value="lawyer">
                                        <label class="form-check-label">Lawyer</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="father_job" value="others">
                                        <label class="form-check-label">Others</label>
                                    </div>
                                </div>
                                <div class="mt-3 text-lg text-primary required"> Q.7 Mother Job Profile </div>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"  type="radio" name="mother_job" value="government_job" required>
                                        <label class="form-check-label">Government Job</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mother_job" value="private_job">
                                        <label class="form-check-label">Private job</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"  type="radio" name="mother_job" value="business">
                                        <label class="form-check-label">Business</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mother_job" value="engineer">
                                        <label class="form-check-label">Engineer</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mother_job" value="doctor">
                                        <label class="form-check-label">Doctor</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mother_job" value="lawyer">
                                        <label class="form-check-label">Lawyer</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mother_job" value="house_wife">
                                        <label class="form-check-label">House Wife</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mother_job" value="others">
                                        <label class="form-check-label">Others</label>
                                    </div>
                                </div>
                                <div class="mt-3 text-lg text-primary required"> Q.8 Sibling Job Profile </div>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"  type="radio" name="sibling_job" value="government_job" required>
                                        <label class="form-check-label">Government Job</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sibling_job" value="private_job">
                                        <label class="form-check-label">Private job</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"  type="radio" name="sibling_job" value="business">
                                        <label class="form-check-label">Business</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sibling_job" value="engineer">
                                        <label class="form-check-label">Engineer</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sibling_job" value="doctor">
                                        <label class="form-check-label">Doctor</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sibling_job" value="lawyer">
                                        <label class="form-check-label">Lawyer</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sibling_job" value="looking_job">
                                        <label class="form-check-label">Looking for job</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sibling_job" value="others">
                                        <label class="form-check-label">Others</label>
                                    </div>
                                </div>
                                <div class="mt-3 text-lg text-primary required"> Q.9 Father's preference for Stream</div>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="father_preferred_stream" value="Non-Medical" required>
                                            <label class="form-check-label">Non-Medical</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="father_preferred_stream" value="Medical">
                                            <label class="form-check-label">Medical</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="father_preferred_stream" value="Commerce">
                                            <label class="form-check-label">Commerce</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="father_preferred_stream" value="Arts">
                                            <label class="form-check-label">Arts</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="father_preferred_stream" value="Diploma/Vocational_Courses">
                                            <label class="form-check-label">Diploma/Vocational Courses</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="father_preferred_stream" value="Open_Schooling">
                                            <label class="form-check-label">Open Schooling</label>
                                        </div>
                                    </div>
                                <div class="mt-3 text-lg text-primary required"> Q.10 Mother's preference for Stream</div>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="mother_preferred_stream" value="Non-Medical" required>
                                            <label class="form-check-label">Non-Medical</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="mother_preferred_stream" value="Medical">
                                            <label class="form-check-label">Medical</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="mother_preferred_stream" value="Commerce">
                                            <label class="form-check-label">Commerce</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="mother_preferred_stream" value="Arts">
                                            <label class="form-check-label">Arts</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="mother_preferred_stream" value="Diploma/Vocational_Courses">
                                            <label class="form-check-label">Diploma/Vocational Courses</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="mother_preferred_stream" value="Open_Schooling">
                                            <label class="form-check-label">Open Schooling</label>
                                        </div>
                                    </div>
                                <div class="mt-3 text-lg text-primary required"> Q.11 Annual Income </div>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"  type="radio" name="annual_income" value="Less_than_2" required>
                                        <label class="form-check-label">Less than 2.5 lakh</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="annual_income" value="Less_than_5">
                                        <label class="form-check-label">Less than 5 lakh</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"  type="radio" name="annual_income" value="Less_than_10">
                                        <label class="form-check-label">Less than 10 lakh</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="annual_income" value="More_than_10">
                                        <label class="form-check-label">More than 10 lakh</label>
                                    </div>
                                </div>

                                <div class="mt-5 "><button class="btn btn-primary profile-button" type="submit">Next Section</button> <button class="btn btn-danger profile-button" type="button">Clear</button></div>
                            </div>
                       </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $('input[type="radio"]').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".box").not(targetBox).show();
        $(targetBox).hide();
    });
});
</script>
{% endif %}
{% endblock %}