{% extends "base_internal.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Stream Selection Test</h1>
    <!--<a href="#" class="d-none d-sm-inline-block btn btn-danger shadow-sm"><i
            class="fas fa-file-alt fa-sm text-white-50"></i>  Edit Profile</a>-->
    </div>
<!-- Content Row -->
    <hr>
    </br>
    <div class="row">
    <!-- profile -->
        <div class="col-md-12 mb-4">
            <div class="container rounded bg-white mt-3 mb-3">
                <div class="row">
                   <form method="POST" enctype="multipart/form-data">
                       {% for message in messages  %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" style="color:red" role="alert">
                                <strong>Message : </strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                       {% endfor %}
                       {% csrf_token %}
                       <div class="col-md-12 ">
                            <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4 >Section 1(Psychometric test)</h4>
                                </div>
                                <hr>
				                <div class="mt-3 text-lg text-primary"> Q.1 Your Role Model? </div>
				                <div>
				                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="role_model" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">Father</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="role_model" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">Mother</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="role_model" value="option3">
                                        <label class="form-check-label" for="inlineRadio3">Singer</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="role_model" value="option4">
                                        <label class="form-check-label" for="inlineRadio4">Actor</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="role_model" value="option5">
                                        <label class="form-check-label" for="inlineRadio5">Sportsperson</label>
                                    </div>
                                </div>
                                <div class="mt-3 text-lg text-primary"> Q.2 Your Are? </div>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="nature" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">Introvert</label>
                                    </div>
			<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="nature" value="option2">
  <label class="form-check-label" for="inlineRadio2">Extrovert</label>
</div>

</div>
			<div class="mt-3 text-lg text-primary"> Q.3 Your Communication Skills?    </div>
				<div>
				<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="comm_skill" value="option1">
  <label class="form-check-label" for="inlineRadio1">Good</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="comm_skill" value="option2">
  <label class="form-check-label" for="inlineRadio2">Avarage</label>
</div>
	<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="comm_skill" value="option3">
  <label class="form-check-label" for="inlineRadio3">Not Good</label>
</div>

</div>

	<div class="mt-3 text-lg text-primary"> Q.4 Have you done any personality development courses?
</div>
				<div>
				<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="dev_course" value="option1">
  <label class="form-check-label" for="inlineRadio1">Yes</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="dev_course" value="option2">
  <label class="form-check-label" for="inlineRadio2">No</label>
</div>
</div>

	<div class="mt-3 text-lg text-primary"> Q.5 How many attempts to clear 10th?
</div>
				<div>
				<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="attempt" value="option1">
  <label class="form-check-label" for="inlineRadio1">1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="attempt" value="option2">
  <label class="form-check-label" for="inlineRadio2">2</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="attempt" value="option1">
  <label class="form-check-label" for="inlineRadio1">More than 2</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="attempt" value="option2">
  <label class="form-check-label" for="inlineRadio2">None</label>
</div>

</div>
<div class="mt-3 text-lg text-primary"> Q.6 Any Health Issues?
</div>
				<div>
				<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="health" value="option1">
  <label class="form-check-label" for="inlineRadio1">Yes</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="health" value="option2">
  <label class="form-check-label" for="inlineRadio2">No</label>
</div>
</div>

<div class="mt-3 text-lg text-primary"> Q.7 Have you ever taken drugs?
</div>
				<div>
				<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="drugs" value="option1">
  <label class="form-check-label" for="inlineRadio1">Yes</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="drugs" value="option2">
  <label class="form-check-label" for="inlineRadio2">No</label>
</div>
</div>

<div class="mt-3 text-lg text-primary"> Q.8 Studied from which school?
</div>
				<div>
				<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="school_type" value="option1">
  <label class="form-check-label" for="inlineRadio1">Goverenment </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="school_type" value="option2">
  <label class="form-check-label" for="inlineRadio2">Private</label>
</div>
</div>

		<div class="mt-3 text-lg text-primary"> Q.9 Attendance in school?
</div>
				<div>
				<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="attendance" value="option1">
  <label class="form-check-label" for="inlineRadio1">More than 90%</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="attendance" value="option2">
  <label class="form-check-label" for="inlineRadio2">Between 90-70%</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="attendance" value="option1">
  <label class="form-check-label" for="inlineRadio1">Between 97-60%</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="attendance" value="option2">
  <label class="form-check-label" for="inlineRadio2">Less Than 60%</label>
</div>

</div>

<div class="mt-3 text-lg text-primary"> Q.10 Do you avail any scholarship?

</div>
				<div>
				<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="scholarship" value="option1">
  <label class="form-check-label" for="inlineRadio1">Yes</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="scholarship" value="option2">
  <label class="form-check-label" for="inlineRadio2">No</label>
</div>
</div>

				<div class="mt-5 "><button class="btn btn-primary profile-button" type="submit">Next Section</button> <button class="btn btn-danger profile-button" type="button">Clear</button></div>
				 </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}
{% endblock %}